@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap');

/* 프로젝트 기초 공사 기본 폰트 적용하기  */
body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Pen Script", cursive;
  min-height: 100vh; 
  margin: 0px;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}
@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
}

.mybutton {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap;
  font-family: "Nanum Pen Script", cursive;
}
.mybutton_positive {
  background-color: #64c964;
  color: white;
}

.mybutton_default {
  background-color: #ececec;
  color: black;
}

.mybutton_negative {
  background-color: #fd565f;
  color: white
}

header {
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header > div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}
header .head_btn_right {
  width: 25%;
  justify-content: end;
}
header .head_btn_left {
  width: 25%;
  justify-content: start;
}

/* diaryList css */

.diaryList .menu_wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.diaryList .menu_wrapper .right_col {
  flex-grow: 1;
  /* display flex 부모 아래에 남은 모든 자리를 차지하게 된다 */
}
.diaryList .menu_wrapper .right_col button {
  width: 100%;
}

.diaryList .menu_wrapper .left_col .controlMenu {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ECECEC;

  padding: 10px 20px;

  cursor: pointer;
  font-family: "Nanum Pen Script", cursive;
  font-size: 18px;
}

.diaryList .diaryItem {
  padding-top: 15px;
  padding-bottom: 15px;

  border-bottom: 1px solid #e2e2e2;

  display: flex;
  justify-content: space-between;
}

.diaryList .diaryItem .emotion_img_wrapper{
  cursor: pointer;
  min-width: 120px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.diaryList .diaryItem .emotion_img_wrapper_1 {
  background-color: #64c964;
}
.diaryList .diaryItem .emotion_img_wrapper_2 {
  background-color: #9dd772;
}
.diaryList .diaryItem .emotion_img_wrapper_3 {
  background-color: #fdce17;
}
.diaryList .diaryItem .emotion_img_wrapper_4 {
  background-color: #fd8446;
}
.diaryList .diaryItem .emotion_img_wrapper_5 {
  background-color: #fd565f;
}

.diaryitem .emotoion_img_wrapper img {
  width: 50%;
}

.diaryItem .img_section img {
  width: 50%;
}

.diaryItem .info_section {
  flex-grow: 1;
  margin-left: 20px;
  cursor: pointer;
}

.diaryItem .info_section .date_wrapper {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}

.diaryItem .info_section .content_wrapper {
  font-size: 18px;
}

.diaryItem .button_section {
  min-width: 70px;
}