@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap');

.App {
  padding: 20px;
  font-family: "Yeon Sung", system-ui;
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}

/* 프로젝트 기초 공사 기본 폰트 적용하기  */